@import url(https://fonts.googleapis.com/css?family=Abel);
.custom {
	background: linear-gradient(0deg, rgb(244, 152, 9) 0%, rgb(225, 14, 20) 100%);
	font-family: Abel;
	width: 400px;
	opacity: 0;
	transition: opacity 1s;
	text-shadow: 2px 2px 0 rgba(0,0,0,.5);

    /* Hide when not active */
	opacity: 0;
}

.custom.finished,
.custom.active {
	opacity: 1;
}

.custom .metaInfo {
	background: #f49703;
	overflow: hidden;
	padding: 0 10px;
}
.custom .total, .custom .duration {
	background: #f49703;
	float: left;
	width: 49%;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.3;
}
.custom .total strong,
.custom .duration strong {
	color: #f49703;
	font-size: 20px;
	display: block;
}
.custom .total {
	margin-right: 2%;
}

.custom.finished .options li,
.custom.removing .options li {
	opacity: 0.3;
	transition: all 1s;
}
.custom.finished .options li.highest,
.custom.removing .options li.highest {
	color: #f49703;
	opacity: 1;
}

.custom.finished .options li.help,
.custom.removing .options li.help {
	height: 0;
}
.custom.finished .metaInfo,
.custom.removing .metaInfo {
	opacity: 0.3;
}
.custom.active .options li.help {
	height: 35px;
}
.custom .options li {
	position: relative;
	border: 1px;
	padding: 10px;
	color: #f49703;
	text-overflow: ellipsis;
	background: #f49703;
	padding-right: 55px;
	padding-left: 55px;
	font-size: 15px;
}
.custom .options li.question {
	padding: 10px 20px;
	font-size: 20px;
	white-space: normal;
	background: #000;
	clear: both;
	line-height: 1.3;
	background: rgba(0,0,0,.2);
	font-size: 25px;
	position: relative;
	text-align: left;
	font-weight: 600;
	text-shadow: 0em 0em .15em #2b2523;
}
.custom .options li.help {
	background: #f49703;
	text-align: center;
	overflow: hidden;
	height: 0;
	font-size: 1.1em;
	text-shadow: 0em 0em .15em #2b2523;
}
.custom .options li.help span {
	display: block;
	padding: 10px;
}
.custom .options li .procent {
	position: absolute;
	top: 10px;
	right: 15px;
}
.custom .options li .number {
	padding: 5px 10px;
	background: #f49703;
	position: absolute;
	top: 5px;
	left: 10px;
}
.custom .options li .bar {
	background: #f49703;
	height: 5px;
	margin-top: 5px;
}
.custom .options li .bar .bar-inner {
	background: #f49703;
	height: 100%;
	width: 10%;
	transition: width 1s;
	position: relative;
}
.custom .options li .text {
	line-height: 1.3;
}

/*
* Optional outer border
*/
.custom .border {
	border: 5px solid red;
}


.custom .credits {
	opacity: 0;
	height: 0;
}
.custom .credits {
	text-align: center;
	opacity: 1;
	transition: all 1s;
	height: 25px;
	clear: both;
	overflow: hidden;
}
.custom.active .credits, .custom.removing .credits {
	height: 0;
	opacity: 0;
}


/*
* Positioning
*/
.custom.topLeft {
	top: 20px;
	left: 20px;
}
.custom.topCenter {
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}
.custom.topRight {
	top: 20px;
	right: 20px;
}
.custom.middleLeft {
	top: 50%;
	transform: translate(0, -50%);
	left: 20px;
}
.custom.middleCenter {
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
.custom.middleRight {
	top: 50%;
	transform: translate(0, -50%);
	right: 20px;
}
.custom.bottomLeft {
	bottom: 20px;
	left: 20px;
}
.custom.bottomCenter {
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}
.custom.bottomRight {
	bottom: 70px;
	right: 30px;
}
